body {
    width: 100%;
}

.layout-intent {
    padding-left: $container-padding-x;
    padding-right: $container-padding-x;
}

.card-list {
    padding-left: 0px;

    li {
        list-style: none;

        a {
            display: flex;
        }
    }
}

a {
    text-decoration: none;;
}